@model TUPApp.Models.HomeModel

@{
    ViewData["Title"] = "Sample Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <hr />
    <p>@Model.Description</p>
    <p>@Model.Gender</p>
</div>
