@model TUPApp.Models.HomeModel

@{
    ViewData["Title"] = "ResuCraft";
}
<div class="homeIndexContainer">
    <div class="splashAreaContainer">
        <div class="leftArea">
            <h1>Welcome to ResuCraft!</h1>
            <p>Start crafting your career with our resume builder.</p>
            <a href="#">Create Now</a>
        </div>

        <div class="rightArea">
            <img src="~/img/resumeImageThree.svg" alt="Splash Image">
        </div>
    </div>
</div>
